body{
	
	background-image: url("../imgs/Contentcolor.png");
	margin:0px;
}

div{
    
    background-color: black;
    color: white;
    margin: 100px 0 100px 0;
    padding: 20px;
}
#header{
	width:864px;
	height:115px;
	background:#333333;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#container{
	width:950px;
	margin:0px auto 300px auto;
	background-color:#222222;
	overflow:auto;
	padding-bottom:100px;
}